body {
  background-image: url("/images/wp-tetris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #212020;
}

.containerT {
  display: flex;
}

.container2 {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  align-content: "center";
  justify-content: "center";
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}
.grid2 {
  width: 200px;
  height: 400px;
  display: flex;
  align-content: "center";
  justify-content: "center";
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}
.grid div {
  height: 20px;
  width: 20px;
}

.grid2 div {
  height: 20px;
  width: 20px;
}

.tetromino {
  border-radius: 3px;
  border: inset 2px;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}

.mini-grid2 {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.mini-grid2 div {
  height: 20px;
  width: 20px;
}

.tetris {
  max-width: 500px;
}

.containerGrid {
  border: 10px solid white;
}

.containerMiniGrid {
  margin-left: 3rem;
  width: 90px;
  height: 90px;
  border: solid 5px white;
}
